.video-detail {
    display: flex;
    flex-direction: column;
    margin-left: 250px; 
    padding: 20px;
    background-color: #181818;
    min-height: 100vh; 
    color: #FFFFFF;
    margin-top: 50px;
}

.video-container {
    width: 100%;
    max-width: 1200px; 
    margin-left: 0; 
}

.video-container video {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.video-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.video-info h1 {
    font-size: 24px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .video-detail {
      margin-left: 0;
      padding: 10px;
      margin-top: 60px; /* Adjust if you have a fixed navbar */
    }
  
    .video-info h1 {
      font-size: 20px;
    }
  }


